@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar::-webkit-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  @variants responsive {
    .styled-scrollbar::-webkit-scrollbar,
    .styled-scrollbar::-webkit-scrollbar-track {
      width: '1rem';
      background-color: '#252735';
    }
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(217, 217, 217, 0.8);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
